@model TenantManagementSystem.Models.Property
@{
    ViewBag.Title = "EditFlat";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<!DOCTYPE html>

<h2>Edit Flat</h2>

@section styles
    {
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
}
<link href="~/Content/BackEnd/css/jqueryUI.css" rel="stylesheet" />

<section class="wrapper">
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Edit Flat
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Id)
                                    @{
                                        if (ViewBag.Message == null)
                                        { }
                                        else
                                        {
                                            <div class="alert alert-success" role="alert">
                                                <strong>@ViewBag.Message</strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        }
                                    }

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BuildingId, "Building")

                                        @Html.DropDownListFor(model => model.BuildingId, new SelectList(ViewBag.Building, "Id", "Name"), "------Select Building------", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BuildingId)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CityId, "City")

                                        @Html.DropDownListFor(model => model.CityId, new SelectList(ViewBag.City, "Id", "Name"), "------Select City------", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CityId)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AreaId, "Area")

                                        @Html.DropDownListFor(model => model.AreaId, new SelectList(ViewBag.Area, "Id", "Name"), "------Select Area------", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AreaId)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(t => t.FlatTypeId, "Flat Type")

                                        @Html.DropDownListFor(t => t.FlatTypeId, new SelectList(ViewBag.FlatType, "Id", "FlatTypeDescription"), "------Select Type------", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(t => t.FlatTypeId)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, "Flat No.")

                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LessorId, "Lessor Name")

                                        @Html.DropDownListFor(model => model.LessorId, new SelectList(ViewBag.Lessor, "Id", "Name"), "------Select Lessor------", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LessorId)
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address)

                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PilotNumber)

                                        @Html.EditorFor(model => model.PilotNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PilotNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PropertyNumber)

                                        @Html.EditorFor(model => model.PropertyNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PropertyNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PropertyType)

                                        @Html.EditorFor(model => model.PropertyType, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PropertyType, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BondNumber)

                                        @Html.EditorFor(model => model.BondNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BondNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BondType)

                                        @Html.EditorFor(model => model.BondType, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BondType, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GovernmentNumber)

                                        @Html.EditorFor(model => model.GovernmentNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.GovernmentNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Street)

                                        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.UpdatedDate)

                                                @Html.EditorFor(model => model.UpdatedDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.UpdatedDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                    <button type="submit" class="btn btn-info">Save</button>

                                    <br /><br />


                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<div>
    @Html.ActionLink("Back to List", "ViewFlat")
</div>

