@model TenantManagementSystem.Models.Agent
@{
    /**/

    ViewBag.Title = "Agent Save";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

@section styles
{
    <style>
        .field-validation-error {
            color: red;
        }

        .required::after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
}

<section class="wrapper">
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Save Agent
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            @{
                                if (ViewBag.Message == null)
                                { }
                                else
                                {
                                    <div class="alert alert-success" role="alert">
                                        <strong>@ViewBag.Message</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                }
                            }
                            @using (Html.BeginForm(null, null, FormMethod.Post))
                            {
                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(t => t.CompanyId, new { @class = "required" })
                                    @Html.DropDownListFor(t => t.CompanyId, new SelectList(ViewBag.Company, "CompanyId", "Name"), "------Select Company------", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(t => t.CompanyId)
                                </div>
                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(t => t.BranchId, new { @class = "required" })
                                    @Html.DropDownListFor(t => t.BranchId, new SelectList(ViewBag.Branch, "BranchId", "Name"), "------Select Branch-----", new { @class = "form-control" })

                                    @Html.ValidationMessageFor(t => t.BranchId)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(t => t.Name, new { @class = "required" })
                                    @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.Name)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(t => t.Phone, new { @class = "required" })
                                    @Html.TextBoxFor(t => t.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.Phone)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(t => t.Cell, new { @class = "required" })
                                    @Html.TextBoxFor(t => t.Cell, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.Cell)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(t => t.Address)
                                    @Html.TextAreaFor(t => t.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.Address)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(t => t.Email)
                                    @Html.TextBoxFor(t => t.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.Email)
                                </div>



                                <div class="form-group">
                                    @Html.LabelFor(t => t.Fax)
                                    @Html.TextBoxFor(t => t.Fax, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(t => t.Fax)
                                </div>


                                <button type="submit" class="btn btn-info">Save</button>
                            }
                        </div>

                        <br /><br />



                    </div>
                </section>

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        document.getElementById('Name').value = '';
        document.getElementById('Address').value = '';
        document.getElementById('Email').value = '';
        document.getElementById('Phone').value = '';
        document.getElementById('Fax').value = '';
        document.getElementById('Cell').value = '';
    </script>

}
