@model TenantManagementSystem.Models.LesseeLessor

@{
    ViewBag.Title = "Delete Lessee";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteLessee</title>
</head>
<body>
    <br /><br /><br /><br /><br /><br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <header class="panel-heading">
            Delete Lessee
        </header>
        <div class="panel-body">
            <div class="position-center">
                <div class="form-horizontal">
                    <h4>LesseeLessor</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group" style="width:50%">
                        @Html.LabelFor(t => t.CompanyId)
                        @Html.DropDownListFor(t => t.CompanyId, new SelectList(ViewBag.Company, "CompanyId", "Name"), "------Select Company------", new { @class = "form-control" })

                        @Html.ValidationMessageFor(t => t.CompanyId)
                    </div>

                    <div class="form-group" style="width:50%">
                        @Html.LabelFor(t => t.BranchId)
                        @Html.DropDownListFor(t => t.BranchId, new SelectList(ViewBag.Branch, "BranchId", "Name"), "------Select Branch------", new { @class = "form-control" })

                        @Html.ValidationMessageFor(t => t.BranchId)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.CardNumber)
                        @Html.ValidationMessageFor(model => model.CardNumber)

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Peneficiary, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Peneficiary)
                            @Html.ValidationMessageFor(model => model.Peneficiary)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profession, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Profession)
                            @Html.ValidationMessageFor(model => model.Profession)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Fax)
                            @Html.ValidationMessageFor(model => model.Fax)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Telephone)
                            @Html.ValidationMessageFor(model => model.Telephone)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.POBox, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.POBox)
                            @Html.ValidationMessageFor(model => model.POBox)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NOPR, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NOPR)
                            @Html.ValidationMessageFor(model => model.NOPR)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
